body {
  margin: 0;
  display: grid;
  grid-template: 48px 1fr/ 20% 1fr;
  height: 100vh;
  width: 100vw;
  grid-template-areas:
  "app-name channel-option"
  "channels chat-room";
  }
  /* Only test */
  /* * {
  border: 1px solid red;
  } */
  .app-name {
  grid-area: app-name;
  }

  .channel-option {
  grid-area: channel-option;
  }

  .channels {
  grid-area: channels;
  }
  
  .chat-room {
  grid-area: chat-room;
  }