html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body img {
  object-fit: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
  left: 30px;
  top: 50px;
  font-size: 20px;
}

.logo svg {
  fill: #fff;
  width: 200px;
}

.login {
  position: absolute;
  width: 480px;
  padding: 40px;
  font-size: 18px;
  color: #72767d;
  background: #36393f;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.container-img {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}
.group-img {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 16px;
}
.group-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 50%;
  margin-bottom: 20px;
}
.group-title {
  display: flex;
  justify-content: center;
}
.title {
  font-size: 26px;
  line-height: 32px;
  color: #fff;
}
.group-activities {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.data-info {
  margin: 5px;
  padding: 5px 16px 4px;
  border-radius: 100px;
  background-color: rgba(32, 34, 37, 0.3);
}
.data-info:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 4px;
}
.data-info.success:before {
  background-color: #43b581;
}
.data-info.nothing:before {
  background-color: #72767d;
}
.data-info span {
  color: #b9bbbe;
  font-size: 15px;
  white-space: nowrap;
}
.username {
  color: #b9bbbe;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.input-username {
  width: calc(100% - 20px);
  border: none;
  margin-top: 20px;
  padding: 10px 10px;
  font-size: 15px;
  color: #f6f6f7;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
}
.input-username:focus {
  border: 1px solid #7289da;
  outline: none;
}
.button-login {
  width: 100%;
  border: none;
  margin-top: 20px;
  padding: 10px 16px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  background-color: #516DD2;
  cursor: pointer;
}
