@media screen and (max-width: 768px) {
  body {
    grid-template: 48px 1fr / 1fr;
    grid-template-areas:
      "channel-header"
      "chat-room";
  }

  .app-name,
  .channels,
  #btnBel,
  #btnPin,
  #actionSearch,
  #btnAt,
  #btnHelp,
  #btnGift,
  #btnGif,
  #btnPlusCircle {
    display: none;
  }

  #btnMenu,
  #btnDots,
  #btnSearch,
  #btnPeople,
  #btnSmile,
  #btnPlus {
    fill: #fff;
    display: block;
  }

  #btnSend,
  #btnClose {
    display: block;
  }

  .channel-header {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  }

  .channel-name svg:first-child {
    fill: #fff;
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }

  .channel-name svg {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }

  .channel-name span {
    font-weight: bold;
  }

  #btnSearch {
    width: 26px;
    height: 26px;
    margin-top: 5px;
  }

  #btnDots {
    width: 19px;
    height: 19px;
  }

  #btnClose {
    fill: #fff;
    width: 23px;
    height: 23px;
    transform: rotate(45deg);
  }

  .messages ul {
    padding-left: 13px;
  }

  .chat-footer {
    padding: 0;
  }

  .container-footer {
    margin: 0;
    border-radius: 0;
    background-color: #36393f;
  }

  .write-message input[type="text"] {
    border-left: 0;
    background-color: #36393f;
  }

  .chat-footer.-b-top {
    border-top: 1px solid #312828;
  }

  .app-name p {
    font-size: 14px;
    font-weight: bold;
  }

  .app-active {
    display: flex;
    position: absolute;
    padding: 2px 10px;
    left: 0;
    width: 220px;
    z-index: 1;
    transition: all 0.25s;
    box-sizing: border-box;
  }

  .channels-active {
    display: block;
    position: absolute;
    top: 48px;
    left: 0;
    width: 220px;
    z-index: 1;
    transition: all 0.25s;
    box-sizing: border-box;
  }

  .channel-header-list {
    padding-top: 15px;
  }

  .group-name {
    margin: 14px 0;
  }

  .scrollbar.groups {
    height: calc(100vh - 44px - 48px - 20px);
  }

  .state-members {
    position: absolute;
    right: 0;
    z-index: 1;
    transition: all 0.25s;
    box-sizing: border-box;
  }

  .active-state-members {
    position: absolute;
    right: 0;
    width: 220px;
    z-index: 1;
    transition: all 0.25s;
    box-sizing: border-box;
  }
}
