body {
  display: grid;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  grid-template: 48px 1fr/ 300px 1fr;
  grid-template-areas:
    "app-name channel-header"
    "channels chat-room";
}
/* Only test */
/* * {
  border: 1px solid red;
  } */
.app-name {
  grid-area: app-name;
}

.channel-header {
  grid-area: channel-header;
}

.channels {
  grid-area: channels;
}

.chat-room {
  grid-area: chat-room;
}

.app-name{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px ;
  color: #fff;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #2f3136;
}

.app-name svg {
  width: 28px;
  height: 28px;
  fill: #8e9297;
}

.channels {
  background-color: #2f3136;
  position: relative;
}

.text_channels {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #8e9297;
}

.text_channels:hover {
  color: #fff;
  cursor: pointer;
}

.text_channels svg {
  width: 24px;
   height: 24px;
   fill: #8e9297;
}

.each_channel:hover {
  color: #fff;
  cursor: pointer;
}
#channels_list {
  list-style: none;
  color: #8e9297;
}

#addChannelForm {
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 30px;
}

.add_channel {
  width: 70%;
  border-radius: 5px;
  border: none;
  height: 65%;
}

.add_button {
  border-radius: 5px;
  border: none;
  height: 70%;
}

.channel_section_bottom {
  background: rgba(32, 34, 37, 0.3);
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.channel_bottom {
  width: 12%;
  height: 100%;
}

.channel_bottom2,
.channel_bottom3 {
  width: 44%;
  height: 100%;
  padding-left: 3%;
  /* padding-top: 7px; */
}

.channel_user_logo {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: center;
}

.channel_user_logo:hover {
  cursor: pointer;
  opacity: 0.8;
}

.channel_status {
  position: absolute;
  background-color: #43b581;
  border: 2px solid #2f3136;
  width: 10px;
  height: 10px;
  bottom: 3px;
  border-radius: 7px;
  left: 10%;
}

.channel_username {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 84px;
  padding: 7px 0px 0px 20px;
}

.channel_user_id {
  padding-left: 20px;
  margin-top: 4px;
  opacity: .4;
  font-size: 10px;
}

.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 1;
  font-size: 10px;
  padding-left: 20px;
  margin-top: 12px;
}

.buttons svg{
  width: 24px;
  height: 24px;
  fill: #fff;
}
.button_micro,
.button_settings,
.button_audio {
  width: 32px;
  height: 32px;
  padding: 0;
  background: no-repeat 50% 50%;
  background-size: 18px 18px;
  position: relative;
  opacity: 0.6;
  border: none;
}


.button_micro:hover,
.button_settings:hover,
.button_audio:hover {
  opacity: 1;
}

/* =============================== */
/* ==========CHANNEL HEADER=================== */

.channel-header,
.chat-room {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #36393f;
}

.channel-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.channel-name {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.channel-name .name {
  font-size: 15px;
  color: #f6f6f7;
  padding: 0;
}

.channel-header svg {
  width: 24px;
  height: 24px;
  margin: 0 8px;
}

.channel-name svg {
  fill: #72767d;
}

.channel-option {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.channel-option svg {
  fill: #b9bbbe;
}

.channel-option svg:hover {
  cursor: pointer;
  fill: #dcddde;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #202225;
}

.search svg {
  margin: 0;
}

.input-search {
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: #b9bbbe;
  background-color: #202225;
  transition: all 0.25s;
  width: 10vw;
}

.input-search:focus {
  outline: none;
  width: 15vw;
}

.chat-room {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* =============================== */
/* ==========CHAT ROOM=================== */

.messages ul {
  list-style: none;
}

.messages svg {
  fill: #43b581;
  width: 18px;
  height: 18px;
}

.container-notification,
.line {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding: 20px 0;
}

.-b-top {
  border-top: 1px solid hsla(0, 0%, 100%, 0.06);
}

.line::after,
.line::before {
  content: " ";
  width: calc(100% - 300px);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.06);
}

.line-date {
  color: rgba(153, 170, 181, 0.5);
  width: 300px;
  margin: 0 10px;
  line-height: 19px;
  font-weight: 500;
  font-size: 14px;
}

.line-date::after {
  content: " ";
  height: 1px;
  flex: 1 1 auto;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.06);
}

.date {
  color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
  margin-left: 7px;
}

.group-notification {
  margin-left: 8px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
}

.user-messages {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
}

.user-messages ul {
  padding-left: 15px;
}

.user {
  font-size: 16px;
  color: #fff;
}

.talk {
  font-size: 14px;
}

.container-messages {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
  padding: 20px 0;
}

.user-img {
  position: relative;
  width: 45px;
  height: 45px;
}

.user-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 50%;
}

.chat-footer {
  padding: 10px;
}

.chat-footer svg {
  margin: 0 10px;
}

.-effect {
  fill: #b9bbbe;
  width: 21px;
  height: 21px;
}

.-effect:hover {
  cursor: pointer;
  fill: #fff;
  transform: scale(1.2);
}

.container-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(114, 118, 125, 0.3);
  margin: 2px;
  padding: 10px;
}

.write-message {
  width: 100%;
}

.write-message input[type="text"] {
  width: 100%;
  padding-left: 5px;
  border: none;
  font-size: 14px;
  color: #f6f6f7;
  border-left: 1px solid #55585d;
  background-color: rgb(72, 75, 81);
}

.write-message input[type="text"]:focus {
  outline: none;
}
