body {
  display: grid;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif;
  grid-template: 48px 1fr / 300px 1fr;
  grid-template-areas:
    "app-name channel-header"
    "channels chat-room";
}

.app-name {
  grid-area: app-name;
}

.channel-header {
  grid-area: channel-header;
}

.channels {
  grid-area: channels;
}

.chat-room {
  grid-area: chat-room;
}

.app-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  color: #fff;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #2f3136;
}

.app-name:hover {
  cursor: pointer;
  background-color: #222327;
}

.app-name svg {
  width: 28px;
  height: 28px;
  fill: #8e9297;
}

.channels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2f3136;
}

.container-channels {
  color: #8e9297;
  padding: 0 10px 20px 20px;
}

.channel-header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.header-name {
  display: flex;
  align-items: center;
}

.header-name span {
  margin-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.header-name:hover {
  cursor: pointer;
  color: #dcddde;
}

.header-name svg:first-child {
  fill: #8e9297;
  width: 12px;
  height: 12px;
}

.channel-header-list svg:last-child {
  fill: #8e9297;
  width: 18px;
  height: 18px;
}

.channel-header-list svg:last-child:hover {
  cursor: pointer;
  fill: #dcddde;
}

.group-channels-list {
  margin: 5px 0;
  padding: 0;
  list-style: none;
}

.group-channels-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px 5px 10px;
  margin: 3px 0;
  border-radius: 5px;
}

.group-channels-list .active {
  background-color: #40444b;
}

.active > .channel-item-option svg {
  visibility: visible;
}

.active > .channel-item span {
  color: #fff;
}

.group-channels-list .active:hover {
  cursor: auto;
  background-color: #40444b;
}

.group-channels-list li:hover {
  cursor: pointer;
  background-color: #292b2f;
}

.group-channels-list li:hover .channel-item-option svg {
  visibility: visible;
}

.channel-item {
  display: flex;
  align-items: center;
}

.channel-item span {
  margin-left: 5px;
}

.channel-item svg {
  width: 20px;
  height: 20px;
  fill: #8e9297;
}

.channel-item-option svg {
  visibility: hidden;
  width: 16px;
  height: 16px;
  fill: #8e9297;
}

.channel-item-option svg:hover {
  cursor: pointer;
  fill: #dcddde;
}

#addChannelForm {
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #202225;
}

#add-channel {
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: #b9bbbe;
  background-color: #202225;
  width: 95%;
}

#add-channel:focus {
  outline: none;
}

#channelError {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ff0000cc;
  padding-top: 10px;
}

#channelError svg {
  fill: rgb(170, 18, 18);
  width: 12px;
  height: 12px;
  margin-right: 5px;
  transform: rotate(45deg);
}

.container-block-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  background: rgba(32, 34, 37, 0.3);
}

.container-block-user svg {
  width: 24px;
  height: 24px;
  fill: #b9bbbe;
  padding: 5px;
}

.container-block-user svg:hover {
  cursor: pointer;
  fill: #dcddde;
  border-radius: 5px;
  background-color: rgba(24, 25, 28, 0.3);
}

.block-data-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 10px;
}

.data-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.data-user .user {
  font-size: 14px;
}

/* =============================== */
/* ==========CHANNEL HEADER=================== */

.channel-header,
.chat-room {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #36393f;
}

.channel-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.channel-name {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.channel-name .name {
  font-size: 15px;
  color: #f6f6f7;
  padding: 0;
}

.channel-header svg {
  width: 24px;
  height: 24px;
  margin: 0 8px;
}

.channel-name svg {
  fill: #72767d;
}

.channel-option {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.channel-option svg {
  fill: #b9bbbe;
}

.channel-option svg:hover {
  fill: #dcddde;
  cursor: pointer;
}

.svg-active {
  fill: #fff !important;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #202225;
}

.search svg {
  margin: 0;
  width: 20px;
  height: 20px;
}

.input-search {
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: #b9bbbe;
  background-color: #202225;
  transition: all 0.25s;
  width: 10vw;
}

.input-search:focus {
  outline: none;
  width: 15vw;
}

/* =============================== */
/* ==========CHAT ROOM=================== */

.chat-room {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.only-chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.messages ul {
  list-style: none;
}

.messages svg {
  fill: #43b581;
  width: 18px;
  height: 18px;
}

.messages-old {
  opacity: 0.7;
}

.icon-messages-old {
  filter: grayscale(1);
}

.container-notification,
.line {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding: 20px 0;
}

.-b-top {
  border-top: 1px solid hsla(0, 0%, 100%, 0.06);
}

.line::after,
.line::before {
  content: " ";
  width: calc(100% - 300px);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.06);
}

.line-date {
  color: rgb(194, 205, 209);
  width: 300px;
  margin: 0 10px;
  line-height: 19px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.line-date::after {
  content: " ";
  height: 1px;
  flex: 1 1 auto;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.06);
}

.date {
  color: rgb(255, 255, 250);
  font-size: 12px;
  margin-left: 7px;
  padding-top: 3px;
}

.group-notification {
  margin-left: 8px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
}

.user-messages {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
}

.user-messages ul {
  padding-left: 15px;
}

.user {
  font-size: 16px;
  color: #fff;
}

.id-user {
  margin-top: 4px;
  opacity: 0.7;
  font-size: 10px;
  color: #c8cacb;
}

.talk {
  font-size: 14px;
}

.container-messages {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
  padding: 20px 0;
}

.user-img {
  position: relative;
  width: 45px;
  height: 45px;
}

.user-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 50%;
}

.scrollbar {
  overflow-y: scroll;
}

.scrollbar.chat {
  height: calc(100vh - 66px - 48px - 2px);
}

.scrollbar.groups {
  height: calc(100vh - 50px - 48px - 20px);
}

.scrollbar.state-users {
  display: block;
  height: calc(100vh - 48px - 2px);
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  margin-left: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #202225;
}

.chat-footer {
  padding: 10px;
}

.chat-footer svg {
  margin: 0 10px;
}

.-effect {
  fill: #b9bbbe;
  width: 21px;
  height: 21px;
}

.-effect:hover {
  cursor: pointer;
  fill: #fff;
  transform: scale(1.2);
}

.container-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(114, 118, 125, 0.3);
  margin: 2px;
  padding: 10px;
}

.write-message {
  width: 100%;
}

.write-message input[type="text"] {
  width: 100%;
  padding-left: 5px;
  border: none;
  font-size: 14px;
  color: #f6f6f7;
  border-left: 1px solid #55585d;
  background-color: rgb(72, 75, 81);
}

.write-message input[type="text"]:focus {
  outline: none;
}

/* =============================== */
/* ========== MEMBER LIST =================== */

.container-member {
  display: none;
  width: 0;
  background: #2f3136;
}

.state-members {
  display: flex;
  width: 300px;
}

.member-list {
  flex-direction: column;
  justify-content: flex-start;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: 0.08em;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: hsla(0, 0%, 100%, 0.4);
}

.member-list {
  display: flex;
  padding: 0 16px;
}

.state {
  padding: 20px 0 10px 0;
}

.block-user {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding: 10px 5px;
}

.user-img.-block {
  width: 30px;
  height: 30px;
  z-index: 1;
}

.user-img.-block::before {
  content: " ";
  position: absolute;
  bottom: -3px;
  right: -2px;
  width: 8.5px;
  height: 8.5px;
  border-radius: 50%;
  border: 2.5px solid #2f3136;
}

.user-img.out-tab::before {
  background: #faa61a;
  z-index: 2;
}

.user-img.in-tab::before {
  background: #43b581;
  z-index: 2;
}

.user.-block {
  color: #b9bbbe;
  margin-left: 10px;
  font-size: 15px;
}

.block-user:hover .user.-block {
  color: #fff;
}

.block-user svg {
  fill: #faa61a;
  margin-left: 4px;
  width: 16px;
  height: 16px;
}

.block-user.offline img {
  filter: grayscale(1);
}

.block-user.offline img:hover {
  filter: grayscale(0);
}

.block-user:hover {
  cursor: pointer;
  background-color: #36393f;
  border-radius: 5px;
}

/* Only mobile */

#btnMenu,
#btnDots,
#btnSearch,
#btnSend,
#btnPlus {
  display: none;
}
